---
import MainLayout from "../../layouts/MainLayout.astro";
import ServiceCard from "../../components/ServiceCard.astro";
import { SERVICES, PAGES } from "../../consts";
const { services } = PAGES;
const { title, description, content } = services;
---

<MainLayout title={title} description={description} content={content}>
<div class="container">

  <div class="row g-5 mb-5">
    {
      SERVICES.map((serv) => (
        <div class="col-12 col-md-6 col-lg-4">
          <ServiceCard
            cardTitle={serv.title}
            cardContent={serv.cardContent}
            cardLink={serv.link}
          />
        </div>
      ))
    }
  </div>
</div>
</MainLayout>
