---
import TyreBrands from "./TyreBrands.astro";
import QuoteForm from "./QuoteForm.astro";
import { PHONE, GOOGLE_REVIEWS } from "../consts";
import defaultHeroBg from "../assets/images/tyre-emergency-ltd.webp";

const {
  heroHeading = "Hero Heading",
  heroSubheading = "This is the Hero Subheading section. You can write an engaging sentence here to get a conversion.",
  bgImg = defaultHeroBg.src,
} = Astro.props;
---

<div
  id="hero"
  class="d-flex align-items-center text-lg-start"
  style={`background-image: url('${bgImg}')`}
>
  <div class="container">
    <div class="row">
      <div
        class="col-lg-6 my-5 text-light text-center text-lg-start d-flex flex-column justify-content-center"
      >
        <p class="h1 fw-bold display-5">{heroHeading}</p>
        <p class="lead">{heroSubheading}</p>
        <div>
          <a href={`tel:${PHONE}`} class="btn btn-secondary fw-bold btn-lg my-3">Call us on <i class="bi bi-telephone-fill me-2"></i>{PHONE}</a>
        </div>
        <div class="my-3">
          <span class="border px-3 py-2 rounded">
            Rated <i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i> on Google from {GOOGLE_REVIEWS} reviews
          </span>
        </div>

      </div>
      <div class="col mb-5 offset-lg-1 mt-lg-5">
        <QuoteForm />
      </div>
    </div>
  </div>
</div>
<TyreBrands />
<style>
  #hero {
    min-height: 70vh;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  #hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 1;
  }

  #hero .container {
    position: relative;
    z-index: 2;
  }
</style>
