---
import { NAME, PHONE, SERVICES, AREAS } from "../consts.ts";
import { Image } from "astro:assets";
import companyLogo from "../assets/logo.png";
---

<nav class="navbar navbar-expand-lg py-4">
  <div class="container">
    <a class="navbar-brand" href="/">
      <Image src={companyLogo} class="navbar-logo" alt={`${NAME} logo`} />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Services</a>
          <ul class="dropdown-menu">
            {SERVICES.map((service) => (
              <li><a href=`/services/${service.link}` class="dropdown-item">{service.title}</a></li>
            ))}
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Areas</a>
          <ul class="dropdown-menu">
            {AREAS.map((area) => (
              <li><a href=`/areas/${area.link}` class="dropdown-item">{area.name}</a></li>
            ))}
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
    <a href={`tel:${PHONE}`} class="btn btn-primary text-light fw-bold d-none d-lg-block"><i class="bi bi-telephone-fill me-2"></i>{PHONE}</a>
  </div>
</nav>

<style>
  .navbar-logo {
    width: 100%;
    max-width: 150px;
    height: auto;
    display: block;
  }

  /* Tablet */
  @media (max-width: 991.98px) {
    .navbar-logo {
      max-width: 135px;
    }
  }

  /* Mobile */
  @media (max-width: 767.98px) {
    .navbar-logo {
      max-width: 120px;
    }
  }
</style>
