---
import {
  NAME,
  DESCRIPTION,
  PHONE,
  EMAIL,
  ADDRESS,
  CITY,
  COUNTY,
  POSTCODE,
  ADDRESS_COUNTRY,
  AREAS,
  GOOGLE_RATING,
  GOOGLE_REVIEWS,
  GTM_ID,
  OPENING_HOURS_SPECIFICATION,
} from "../consts";
import "@fontsource/rubik/300.css";
import "@fontsource/rubik/400.css";
import "@fontsource/rubik/500.css";
import "@fontsource/rubik/600.css";
import "@fontsource/rubik/700.css";
import "../styles/main.scss";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ElfsightCookie from "../components/ElfsightCookie.astro";
import ElfsightReviews from "../components/ElfsightReviews.astro";
const { title, description = DESCRIPTION } = Astro.props;
const pageTitle = `${title} | ${NAME}`;
const canonicalUrl = Astro.url.href;
const socialImage = new URL("/og-image.svg", Astro.url).href;
const localBusinessSchema = {
  "@context": "https://schema.org",
  "@type": "LocalBusiness",
  name: NAME,
  description: DESCRIPTION,
  image: socialImage,
  url: canonicalUrl,
  telephone: PHONE,
  email: EMAIL,
  address: {
    "@type": "PostalAddress",
    streetAddress: ADDRESS,
    addressLocality: CITY,
    addressRegion: COUNTY,
    postalCode: POSTCODE,
    addressCountry: ADDRESS_COUNTRY,
  },
  areaServed: AREAS.map((area) => ({
    "@type": "Place",
    name: area.name,
  })),
  aggregateRating: {
    "@type": "AggregateRating",
    ratingValue: GOOGLE_RATING,
    reviewCount: GOOGLE_REVIEWS,
  },
  openingHoursSpecification: OPENING_HOURS_SPECIFICATION,
};
---

<!doctype html>
<html lang="en">
  <head>
    {
      GTM_ID && (
        <>
          <!-- Google Tag Manager -->
          <script is:inline define:vars={{ gtmId: GTM_ID }}>
            (function (w, d, s, l, i) {
              w[l] = w[l] || [];
              w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
              var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != "dataLayer" ? "&l=" + l : "";
              j.async = true;
              j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
              f.parentNode.insertBefore(j, f);
            })(window, document, "script", "dataLayer", gtmId);
          </script>
          <!-- End Google Tag Manager -->
        </>
      )
    }
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <link rel="canonical" href={canonicalUrl} />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={pageTitle} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalUrl} />
    <meta property="og:image" content={socialImage} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={pageTitle} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={socialImage} />
    <script
      type="application/ld+json"
      set:html={JSON.stringify(localBusinessSchema)}
    />
    <title>{pageTitle}</title>
  </head>
  <body>
    {
      GTM_ID && (
        <>
          <!-- Google Tag Manager (noscript) -->
          <noscript
            ><iframe
              src={`https://www.googletagmanager.com/ns.html?id=${GTM_ID}`}
              height="0"
              width="0"
              style="display:none;visibility:hidden"></iframe></noscript
          >
          <!-- End Google Tag Manager (noscript) -->
        </>
      )
    }
    <Header />
    <slot />
    <Footer />
    <ElfsightCookie />

    <script src="../scripts/bootstrap.min.js"></script>
  </body>
</html>
