---
import { DESCRIPTION } from "../consts";
import BaseLayout from "./BaseLayout.astro";
import Hero from "../components/Hero.astro";
import ElfsightReview from "../components/ElfsightReview.astro";
const {
  title,
  description = DESCRIPTION,
  heroHeading,
  heroSubheading,
  mainHeading,
  mainContent,
} = Astro.props;
---

<BaseLayout title={`${title}`} description={description}>
  <Hero heroHeading={heroHeading} heroSubheading={heroSubheading} />
  <main class="container my-5">
    <h1>{mainHeading}</h1>
    {mainContent.map((ptag:string) => <p class="lead">{ptag}</p>)}
  </main>
  <ElfsightReview />
</BaseLayout>
